.box1{
    background-color: aqua;
    width: 20%;
    margin: 3% 2.5%;
    height: 800px;
}

.box2{
    background-color: rgb(174, 119, 226);
    width: 20%;
    margin: 3% 2.5%;
    height: 800px;
}

.box3{
    background-color: rgb(224, 114, 136);
    width: 20%;
    margin: 3% 2.5%;
    height: 800px;
}

.box4{
    background-color: yellowgreen;
    width: 20%;
    margin: 3% 2.5%;
    height: 800px;
}

body{
    display: flex;
    justify-content: center;
    margin: 3% 2.5%;
    height: 800px;
}